

.pageWrapper{
    background-color: black;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

@media (max-width: 800px) {
    .pageWrapper {
        height: 600px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        border: 0;
        text-align: center;
    
    }
}